body
{
    background-color: paleturquoise;
}

p, label, option  {
    font-size: 10px;
}
h1 {
    font-size: 20px;
}

@media (min-width: 768px) {
    p, label, option {
        font-size: 12px;
    }
    h1 {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    p, label, option  {
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
    }
}